---
import config from "@/lib/config";
import Section from "./partials/Section.astro";
import SectionTitle from "./partials/SectionTitle.astro";
import { Input } from "../ui/input";
import { Textarea } from "../ui/textarea";
import { Button } from "../ui/button";
import { Send } from "lucide-react";
import CTAButtons from "./partials/CTAButtons.astro";
---

<Section id={config.pages.index.sections.contact.id}>
  <SectionTitle title={config.pages.index.sections.contact.title} />
  <div class="grid grid-cols-1 md:grid-cols-2 gap-12 md:gap-4">
    <form
      action="https://api.web3forms.com/submit"
      method="POST"
      class="flex flex-col"
      id="contact-form"
    >
      <input
        type="hidden"
        name="access_key"
        value={config.pages.index.sections.contact.contactFormAccessKey}
      />
      <input
        type="hidden"
        name="subject"
        value="New Form Submission from your Portfolio Website"
      />

      <Input
        type="text"
        name="name"
        placeholder="Enter your name"
        required
        className="fade-up"
      />
      <Input
        type="email"
        name="email"
        placeholder="Enter your email"
        required
        className="mt-6 fade-up"
      />
      <Textarea
        name="message"
        placeholder="Message"
        required
        className="mt-6 fade-up"
      />
      <input
        type="hidden"
        name="redirect"
        value="https://web3forms.com/success"
      />
      <Button type="submit" size="lg" className="mt-8 cursor-pointer"
        ><Send /><p>Send Message</p></Button
      >
    </form>
    <div class="text-center">
      <p class="font-ibm text-base md:text-xl font-light mb-4">GET IN TOUCH</p>
      <CTAButtons />
    </div>
  </div>
</Section>

<script>
  document.addEventListener("astro:page-load", () => {
    // Reset the form fields when the page loads
    const contactForm: HTMLFormElement | null = document.getElementById(
      "contact-form"
    ) as HTMLFormElement;
    contactForm?.reset();
  });
</script>
