---
import { Separator } from "@/components/ui/separator";
type Props = {
  quote: string;
};
const { quote } = Astro.props;
---

<div class="text-center space-y-4 quote-section">
  <Separator className="quote-separator shadow-[0_0.5px_1px_var(--card)]" />
  <p class="font-mono text-sm md:text-base">“{quote}”</p>
  <Separator className="quote-separator shadow-[0_-0.5px_1px_var(--card)]" />
</div>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.utils.toArray(".quote-section").forEach((el) => {
    const elToAnimate: Element = el as Element;
    gsap.from(elToAnimate.querySelector("p"), {
      opacity: 0,
      scale: 0.95,
      duration: 0.8,
      ease: "power2.out",
      scrollTrigger: {
        trigger: elToAnimate,
        start: "top 95%",
        toggleActions: "play none none reverse",
      },
    });

    // animate separators in from sides
    gsap.from(elToAnimate.querySelectorAll(".quote-separator"), {
      scaleX: 0,
      duration: 0.6,
      ease: "power2.out",
      stagger: 0.1,
      transformOrigin: "center",
      scrollTrigger: {
        trigger: elToAnimate,
        start: "top 95%",
        toggleActions: "play none none reverse",
      },
    });
  });
</script>
