---
type Props = {
  title: string;
};
const { title } = Astro.props;
---

<div
  class="sticky top-4.5 md:top-4 z-49 w-fit mb-6 md:mb-10 mx-auto md:mx-0"
  data-sticky-animate
>
  <p class="font-ibm text-xl md:text-2xl text-muted-foreground">
    {title}
  </p>
</div>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const els = document.querySelectorAll("[data-sticky-animate]");

  els.forEach((el) => {
    gsap.to(el, {
      x: () => {
        const parentEl = el.closest("[data-section-container]");
        if (!parentEl) return 0;

        const parentRect = parentEl.getBoundingClientRect();
        const elRect = el.getBoundingClientRect();
        const rem = parseFloat(
          getComputedStyle(document.documentElement).fontSize
        );
        const target = (parentRect?.left || 0) + 4.15 * rem;
        const current = elRect.left;
        console.log(parentRect?.left, target, current);
        return target - current;
      },
      ease: "power2.out",
      scrollTrigger: {
        trigger: el,
        start: "top top+=64",
        end: "+=32",
        scrub: true,
        invalidateOnRefresh: true,
      },
    });
  });
  window.addEventListener("resize", () => {
    ScrollTrigger.refresh();
  });
</script>
